<template id="link-template">
    <a id = "content_"></a>
</template>

<header class="header">
    <div class="header__container">
        <h1 class="logo">EduLearn</h1>
        <nav class="nav-menu">
            <ul class="nav-menu__list">
                 <mi-link class="nav-menu__item" href="#home" text = "Hola">Inicio</mi-link>
                    <a class="nav-menu__item" href="#courses" >Cursos</a>
                    <a class="nav-menu__item" href="#about" >Acerca</a>
                    <a class="nav-menu__item" href="#contact" >Contacto</a>


            </ul>
        </nav>
        <!-- Acciones de usuario: Login / Registro -->
        <div class="header__actions">
            <a href="login.html" class="btn btn--outline user-action">Iniciar Sesión</a>
            <a href="registro.html" class="btn btn--primary user-action">Registrarse</a>
        </div>
        <!-- Icono de usuario (opcional JS para estado logueado) -->
        <!-- <div class="user-icon"><i class="icon-user"></i></div> -->
    </div>
</header>





